@charset "UTF-8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#tables1, tables2, tables3, tables4{
	width: 90%; text-align: center;
}

#homebtn {
	position: fixed; 
	bottom: 0.5rem; 
	left: 1rem; 
	font-size: 2rem; 
	font-family: Jua;
}

#homebtn > a {
	text-decoration: none;
	color: gray;
}

#homeIcon {
	height: 2rem;
	width: 2rem;
	margin-right: 0.6rem;
}

h1, h2{
	font-family: Jua;
}

/* 상단 바 배경색 */
.bg-dark{
	background-color: rgba(0, 0, 100)!important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

body {
  font-size: .875rem;
}

/* 아이콘 사이즈 */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: fixed;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-family: Jua;
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #ff4e0d;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
/* 홈로고 */
.navbar-brand {
  position: relative;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: 2rem!important;
  font-family: Jua;
  font-size: 1.5rem;
  /* 배경색. 상단바와 맞출 것 */
  background-color: rgba(0, 0, 100, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-nav{
	font-family: Jua;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  font-family: Jua;
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, .25);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.tableFontJua{
	font-size: 1.2rem;
	font-family: Jua;
}
