<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<link th:href="@{/css/registViewCss/joinSelect.css}" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<!-- 네비게이션 바 부분 -->
	<nav id="navbar" class="navbar navbar-expand-sm bg-light">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">HOME</a>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="#">ABOUT US</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/login}">LOGIN</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/joinselect}">JOIN</a></li>
			</ul>
		</nav>
	
		<!-- 가입회원  -->
		<div id="joinSelect">
			<div id="rrmarkarea">
				<a th:href = "@{/}"><img id="rrmark" th:src="@{/images/rrmark.png}" ></a>
				<a th:href = "@{/}"><img id="rrjapanesemark" th:src="@{/images/rrjapanesemark.png}"></a>
			</div>
			<!-- 설명부분 div -->
			<div id="select">
			<p>회원가입유형을 선택해주세요</p>
			</div>
			<!-- 선택하는 그림 2개 영역 전체 -->
			<div id="select_role" >
				<!-- 왼쪽 그림 -->
				<a th:href="@{/user/join_as_user}"><img id="select-user" style="border-radius:0.5vw;" 
				th:src="@{/images/color_select_user.png}" width=350 height=350 alt="유저로 가입"></a>
				
					<a th:href="@{/user/join_as_user}"><img id="user-icon" th:src="@{/images/user_icon.png}" width=64 height=64></a>

					<h1 id="caption-join-for-user" style="color:ed7059;"><a th:href="@{/user/join_as_user}">일반사용자</a></h1>
				
			
				<!-- 오른쪽 그림 -->
				<a th:href="@{/restaurant/join_as_restaurant}"><img id="select-restaurant" style="border-radius:0.5vw;" 
				th:src="@{/images/color_select_user.png}"  width=350 height=350 alt="업체로 가입"></a>
					<a th:href="@{/restaurant/join_as_restaurant}"><img id="store-icon" th:src="@{/images/store_icon.png}" width=64 height=64></a>
					<h1 id="caption-join-for-store" style="color:ed7059;"><a th:href="@{/restaurant/join_as_restaurantCheck}">레스토랑</a></h1>
				
			</div>
		</div>
</body>
</html>