<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
</script>
</head>
<body>
	<h1>mail</h1>
	<form action="mailConfirm" method="post">
	<div>
		<label for="memail" id="email">도메인을 입력해주세요</label>
		<input type="text" name="domain" id="domain">
		<label for="memail" id="email">이메일을 입력해주세요</label>
		<input type="email" name="email" id="email">
	</div>
		<input type="submit" value="확인">
	</form>
</body>
</html>