<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.restaurantreservation.aruaru.dao.HomeDao">
	<!-- 금일의 데이터 저장소 있는지 체크 -->
	<select id="checkNewDate" resultType="int">
		select Count(*) as result 
		from admin_graphs 
		where dates = to_char(sysdate, 'yy/mm/dd')
	</select>
	
	<!-- 금일의 데이터저장소 생성 -->
	<insert id="createNewDate">
		insert into admin_graphs(
			date_id
			, dates
			, users_cnt
			, restaurant_cnt
			, visit_cnt
		) 
		values (date_id_seq.nextval, to_char(sysdate, 'yy/mm/dd'), 0, 0, 0)
	</insert>
	
	<!-- 금일의 추이데이터 저장값 + (객체에 +될 변수들에만 1 저장) -->
	<update id="increaseToday" parameterType="Admin_Graphs">
		UPDATE
			admin_graphs
		SET
			users_cnt = users_cnt + #{users_cnt},
			restaurant_cnt = restaurant_cnt + #{restaurant_cnt},
			visit_cnt = visit_cnt + #{visit_cnt}
		WHERE
			dates = to_char(sysdate, 'yy/mm/dd')
	</update>
	
	<!-- 그래프 그리기에 필요한 데이터 가져오기 -->
	<select id="selectData" parameterType="int" resultType="Admin_Graphs">
		SELECT * 
		FROM ADMIN_GRAPHS 
		WHERE TO_CHAR(DATES, 'YY/MM/DD') = TO_CHAR(SYSDATE + #{date}, 'YY/MM/DD')
	</select>
	
	<!-- 특정 날짜의 사이트 전체 리뷰 등록 수를 가져온다 -->
	<select id="selectReviewCntByDate" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM REVIEW 
		WHERE REVIEWED_DATE = TO_CHAR(SYSDATE + #{date}, 'YY/MM/DD')
	</select>
	
	<!-- 특정 날짜의 일반 가입자 수를 가져온다. -->
	<select id="selectUserCntByDate" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM USER_MEMBER 
		WHERE TO_CHAR(REGISTRATION_DATE, 'YY/MM/DD') = TO_CHAR(SYSDATE + #{date}, 'YY/MM/DD')
		AND	  MEMBER_ROLE = 'ROLE_USER'
	</select>
</mapper>