<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<style>
</style>
<link rel="stylesheet" th:href="@{/css/introduce_storeCss.css}">
<link rel="stylesheet"
	th:href="@{/css/kakaoMapCss/kakaoMapContents.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<!-- jQuery -->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>

<!-- 카카오 지도 API와 불러올 library: 실행코드보다 먼저 선언 되어야 합니다. -->
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ec51d65c955ff63b6c2b3f36b4898281&libraries=services"></script>

<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
	function reservationFormOpen() {
		var w = window.open('reservation', 'reservationwin',
				'top=200,left=500,width=400,height=500');
		$('')
	}
	
	$(function(){           
		$('#demo').carousel({        
	       interval: 5000 
	     });
	});
</script>

<script th:inline="javascript">
let store = [[${store}]];
let fileList= [[${fileList}]];
console.log("파일 리스트 : " + fileList[0].restaurant_originalfile);
</script>
<title>Document</title>

<title>식당 상세정보 및 예약화면입니다</title>

</head>
<body>

	<!-- navbar 부분-->
	<nav id="navbar" class="navbar navbar-expand-sm bg-light">
		<ul class="navbar-nav">
			<!-- 로그인 계정이 일반계정인지 관리자인지 나타내줍니다.(임시) -->
			<li th:if="${member.member_nickname != null}"
				sec:authorize="hasRole('USER')" class="nav-item"
				th:text="|${member.member_nickname}님이 로그인하셨습니다.|">[일반 사용자] 입니다.</li>
			<li sec:authorize="hasRole('ADMIN')" class="nav-item">[관리자] 입니다.</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="#">ABOUT US</a></li>
			<li class="nav-item"><a sec:authorize="isAuthenticated()"
				class="nav-link" th:href="@{/logout}">LOGOUT</a></li>
			<li class="nav-item"><a sec:authorize="not isAuthenticated()"
				class="nav-link" th:href="@{/user/joinselect}">JOIN</a></li>
			<li class="nav-item"><a sec:authorize="isAuthenticated()"
				class="nav-link" th:href="@{/mypage/}">MYPAGE</a></li>
		</ul>
	</nav>
	<div id="container1">

		<!--알파벳 CI-->
		<a th:href="@{/}"><img id="RR" th:src="@{/images/rrmark.png}"></a>
		<!--일본어 CI-->
		<a th:href="@{/}"><img id="aruaru"
			th:src="@{/images/rrjapanesemark.png}"></a>
		<!--검색 부분-->
		<form th:action="@{/stores/search}" method="get">
			<table style="font-family: Jua;">
				<tr>
					<td><input type="text" class="form-control" id="area-input"
						placeholder="지역" name="s_address"></td>
					<td><input type="text" class="form-control" id="keyword-input"
						placeholder="키워드(ex)오마카세, 분위기있는)" name="s_tags"></td>
					<td><input type="date" class="form-control" id="day-input"
						name="s_days"></td>
					<td><select id="select-time" class="form-control"
						name="s_time">
							<option value="0900">09:00</option>
							<option value="0930">09:30</option>
							<option value="1000">10:00</option>
							<option value="1030">10:30</option>
							<option value="1100">11:00</option>
							<option value="1130">11:30</option>
							<option value="1200">12:00</option>
							<option value="1230">12:30</option>
							<option value="1300">13:00</option>
							<option value="1330">13:30</option>
							<option value="1400">14:00</option>
							<option value="1430">14:30</option>
							<option value="1500">15:00</option>
							<option value="1530">15:30</option>
							<option value="1600">16:00</option>
							<option value="1630">16:30</option>
							<option value="1700">17:00</option>
							<option value="1730">17:30</option>
							<option value="1800">18:00</option>
							<option value="1830">18:30</option>
							<option value="1900">19:00</option>
							<option value="1930">19:30</option>
							<option value="2000">20:00</option>
							<option value="2030">20:30</option>
							<option value="2100">21:00</option>
							<option value="2130">21:30</option>
							<option value="2200">22:00</option>
					</select></td>
					<td><input type="text" class="form-control" id="person-input"
						placeholder="인원수" name="s_people"> <input type="hidden"
						name="s_sector" value=""></td>
					<td><input type="submit" class="btn btn-primary"
						id="search-submit" value="검색"></td>
				</tr>
			</table>
		</form>
	</div>
	<!-- 회전화면 부분 -->
	<div id="demo" class="carousel slide carousel-fade"
		data-ride="carousel">

		<!-- 인디케이터 -->
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1" class="active"></li>
			<li data-target="#demo" data-slide-to="2" class="active"></li>
		</ul>

		<!-- 안쪽 그림 부분 -->
		<div id="carousel-inner" class="carousel-inner">
			<div class="carousel-item active">
				<img
					th:src="|filedis?restaurant_file_num=${fileList.get(0).getRestaurant_file_num}|"
					alt="pasta"
					style="width: 1200px; height: 500px; padding-left: 8.5vw; top: 5.5vh;">
			</div>
			<div class="carousel-item"
				th:if="${fileList.get(1).getRestaurant_file_num} != null">
				<img
					th:src="|filedis?restaurant_file_num=${fileList.get(1).getRestaurant_file_num}|"
					alt="pizza"
					style="width: 1200px; height: 500px; padding-left: 8.5vw; top: 5.5vh;">
			</div>
			<div class="carousel-item" th:if="${fileList.size()} > 2">
				<img
					th:src="|filedis?restaurant_file_num=${fileList.get(2).getRestaurant_file_num}|"
					alt="restaurant"
					style="width: 1200px; height: 500px; padding-left: 8.5vw; top: 5.5vh;">
			</div>
		</div>
	</div>

	<!-- 소개 부분 시작 -->
	<div id="introduce-area">
		<!-- 위치 깃발 그림 부분 -->
		<img id="flag-icon" th:src="@{/images/map_flag_icon.png}">
		<!-- 위치 글씨 부분 -->
		<div id="location-area">
			<h3 th:text="${store.restaurant_address1}"></h3>
		</div>
		<!-- 음식점 이름 -->
		<div id="store-name">
			<h1 th:text="${store.restaurant_name}"></h1>
			<div class="zzimHeart" th:if="${result} == 1">
				<img th:src="@{../images/herat222.png}" id="img01" width=23
					height=23 class="img002" th:num="${store.restaurant_num}">
				<p class="zzimCount">[[${count}]]</p>
			</div>
			<div class="zzimHeart" th:if="${result} == 0">
				<img th:src="@{../images/heart111.png}" id="img02" width=23
					height=23 class="img001" th:num="${store.restaurant_num}">
				<p class="zzimCount">[[${count}]]</p>
			</div>
		</div>
		<script>
			$(document).ready(function() {

				$('.img001').click(function zzim1() {

					$.ajax({
						url : 'zzimAdd',
						type : 'get',
						data : {
							restaurant_num : $(this).attr('num')

						},
						success : function(cnt) {
							window.location.reload();

						},
						error : function() {
						}
					});
				});

				$('.img002').click(function zzim2() {

					$.ajax({
						url : 'zzimDelete',
						type : 'get',
						data : {
							restaurant_num : $(this).attr('num')
						},
						success : function(cnt) {
							window.location.reload();

						},
						error : function() {
						}
					});
				});

			});
		</script>
		<!-- 맛집 소개글 -->
		<div id="store-contents">
			<p th:text="${store.restaurant_comment}">
		</div>
		<!-- 메뉴 표시 -->
		<div id="menu-area">
			<table class="table table-hover">
				<tr>
					<th>메뉴</th>
					<th>특징</th>
					<th>가격</th>
					<th>사진</th>
				</tr>
				<tr th:each="menu : ${menuList}">
					<td th:text="${menu.menu_name}"></td>
					<td th:text="${menu.menu_content}"></td>
					<td th:text="|${menu.menu_price}원|"></td>
					<td><img th:src="|menudis?menu_num=${menu.menu_num}|"
						style="width: 60px; height: 60px;"></td>
				</tr>
			</table>
		</div>
		<!-- 가게 정보 -->
		<div id="store-information">
			<h3>영업 시간</h3>
			<table class="table table-hover">
				<tr>
					<th>영업일</th>
					<th>오픈시간</th>
					<th>닫는시간</th>
				</tr>
				<tr th:each="time : ${timeTable}">
					<td th:text="${time.business_days}"></td>
					<td th:text="${time.opentime}"></td>
					<td th:text="${time.closetime}"></td>
				</tr>
			</table>
		</div>

		<!-- 카카오지도 -->
		<div id="map"
			style="position: relative; z-index: 0; width: 500px; height: 500px; margin: 0 auto;"></div>
		<!--  js폴더 내, home.html용 js파일 -->
		<script type="text/javascript" th:src="@{/js/kakaoMap.js}"></script>


		<!-- 가게 관련 태그 -->
		<div id="store-tags">
			<h3>스토어 태그</h3>
			<table id="tableTags">
				<tr>
					<td th:each="tag : ${storeTagList}">
						<div id="idtag1" class="btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-outline-secondary" th:for="${tag.tags_num}"
								style="width: max-content; height: 35px; display: inline-block;">
								<input name="tags_name" th:value="${tag.tags_name}"
								type="hidden" th:id="${tag.tags_num}" th:num="${tag.tags_num}"
								class="tag1">[[${tag.tags_name}]]
							</label>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!-- 리뷰부분 -->
		<div id="store-commentary">
			<h3 th:text="|평점 : ${store.restaurant_grade}|"></h3>
			<table class="table">
				<tr>
					<td>
						<div class="row">
							<div class="col" th:if="${review != null}">
								<div id="profile-img">
									<img
										th:src="|../mypage/profile?member_num=${review.member_num}|"
										class="rounded-circle" alt="프로필사진"
										style="width: 7vw; height: 7vw;">
								</div>
								<div class="profile-nickname">
									<h4>[[${review.member_nickname}]]</h4>
								</div>
								<div class="score-star">
									<img th:src="@{/images/star_icon.png}"
										style="width: 1.5vw; height: 1.5vw;">
								</div>
								<div class="score-number">
									<h5>[[${review.grade}]]</h5>
									<div class="comment">
										<h5>[[${review.contents}]]</h5>
									</div>
								</div>
								<div class="upload-date">
									<h6>방문일 : [[${review.reservaiton_date}]]</h6>
								</div>
							</div>
							<div class="col" th:if="${review1 != null}">
								<div id="profile-img">
									<img
										th:src="|../mypage/profile?member_num=${review1.member_num}|"
										class="rounded-circle" alt="프로필사진"
										style="width: 7vw; height: 7vw;">
								</div>
								<div class="profile-nickname">
									<h4>[[${review1.member_nickname}]]</h4>
								</div>
								<div class="score-star">
									<img th:src="@{/images/star_icon.png}"
										style="width: 1.5vw; height: 1.5vw;">
								</div>
								<div class="score-number">
									<h5>[[${review1.grade}]]</h5>
									<div class="comment">
										<h5>[[${review1.contents}]]</h5>
									</div>
								</div>
								<div class="upload-date">
									<h6>방문일 : [[${review1.reservaiton_date}]]</h6>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<div id="empty">
				<p></p>
			</div>
			<div id="empty">
				<p></p>
			</div>
		</div>
	</div>

	<!-- 밑 부분 bar -->
	<div id="bottom-bar">
		<form action="" method="get">
			<table id="input-book-bottom">
				<tr>
					<td><input style="width: 10vw;" type="date"
						class="form-control" id="day-input-bottom" name="rdate"></td>
					<td><select id="select-time-bottom" class="form-control"
						name="rhours">
							<option value="09:00">09:00</option>
							<option value="09:30">09:30</option>
							<option value="10:00">10:00</option>
							<option value="10:30">10:30</option>
							<option value="11:00">11:00</option>
							<option value="11:30">11:30</option>
							<option value="12:00">12:00</option>
							<option value="12:30">12:30</option>
							<option value="13:00">13:00</option>
							<option value="13:30">13:30</option>
							<option value="14:00">14:00</option>
							<option value="14:30">14:30</option>
							<option value="15:00">15:00</option>
							<option value="15:30">15:30</option>
							<option value="16:00">16:00</option>
							<option value="16:30">16:30</option>
							<option value="17:00">17:00</option>
							<option value="17:30">17:30</option>
							<option value="18:00">18:00</option>
							<option value="18:30">18:30</option>
							<option value="19:00">19:00</option>
							<option value="19:30">19:30</option>
							<option value="20:00">20:00</option>
							<option value="20:30">20:30</option>
							<option value="21:00">21:00</option>
							<option value="21:30">21:30</option>
							<option value="22:00">22:00</option>
					</select></td>
					<td><input type="text" class="form-control"
						id="person-input-bottom" name="rpeople" style="width: 5vw;"
						placeholder="인원수"></td>
					<td><input type="hidden" id="restaurant_num"
						name="restaurant_num" th:value="${store.restaurant_num}"></td>
					<td><input class="btn btn-primary" id="btn1" type="button"
						style="width: 150px" onclick="reservationFormOpen()" value="예약하기"></td>

				</tr>
			</table>
		</form>
		<!-- 검색창 bar와 내용 겹치지 않게 하기 위한 빈 구역 -->
		<div id="empty">
			<p></p>
		</div>
	</div>
</body>
</html>