@charset "UTF-8";


.overlaybox {
	position:relative;
	width:270px;
	height:180px;
	background-color: rgba(100,100,100,100.8); /* 이미지 줘도 됨. */
	padding:15px 10px;
}

.overlaybox div, ul {
	overflow:hidden;
	margin:0;
	padding:0;
}

.overlaybox li {
	list-style: none;
}

.overlaybox .main {
	position:relative;
	width:247px;
	height:136px;
	margin-bottom:8px;
}

.text {
	color:#fff;
}

.restaurant {
	width:100%;
	bottom:0;
	padding:7px 20px;
	font-size:20px;
}

.overlaybox ul {
	width:247px;
}

.overlaybox li {
	position:relative;
	margin-bottom:2px;
	background:#2b2d36;
	padding:5px 10px;
	color:#aaabaf;
	line-height: 1;
}

.overlaybox li span {
	display:inline-block;
}

.overlaybox li .number {
	font-size:16px;
	font-weight:bold;
}

.overlaybox li .title {
	font-size:13px;
}


.overlaybox li .tags {
	background-position:0 -40px;
}

.overlaybox li .tagname{
	width: 50px;
}

.overlaybox li .star{
	width: 50px;
}

.overlaybox li:hover {
	color:#fff;
	background:#d24545;
}

.overlaybox li:hover .tags {
	background-position:0 0px;
}

.reservation {
	color: #ffffff;
	margin: 100px 88px;
}
