@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

nav {
	height: 4.1vh;	
}


#loginform {
	top: 170px;
	height : 435px;
	width : 500px;
	position : fixed;
	right: 500px;
	box-shadow : 5px 5px 20px grey; 
	background-color : rgba(255,255,255, 0.5);
	animation : slide2 2s;
}

h1 {
	font-family : "Jua";
	color : black;
	padding-left : 190px;
	padding-top : 50px;
}

#logintable {
	padding-left : 120px;
}

#logininput {
	padding-left : 160px;
}

#loginforgetdiv {
	padding-left : 20px;
}

#loginforget:hover {
	color : black;
}

@keyframes slide2 {
	from {
		top:100px;
		opacity : 0;
	}
	to {
		top: 170px;
		opacity : 1;
	}
}

