@charset "UTF-8";
/*
*  Google Fonts에서 IBM Plex Sans KR 글씨체 가져옴 
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
/*
* Google Fonts에서 Black Han Sans 글씨체 가져옴
*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/*
* 네비게이션 바 맨 왼쪽 홈 링크 글씨 설정
*/
#home-link {
	font-family : "Black Han Sans";
	font-size : 24px;
	color : white;
}

/*
* 나머지 네비게이션 바 링크 글씨 부분 설정
*/

.nav-link {
	font-family : "Black Han Sans";
	font-size : 18px;
	color : white;
}

/*
* 첫 페이지 메인 배경
*/
#section1 {
	height : 100vh;
	background-repeat: no-repeat;
	background-size:contain;
	background : url("/aruaru/images/restaurant_3.jpg") fixed;
}


#font1content {
	position : absolute;
	color : beige;
	top : 450px;
	left : 225px;
	animation : slide 3s;
}

.photo {
	position : absolute;
	top : 150px;
	right : 275px;
	}

#font1 {
	position : absolute;
	font-size : 52px;
	top : 250px;
	left : 225px;
	width:258px;
	color : beige;
	animation : slide 2s;
}



#btsection2 {
	position : absolute;
	top : 500px;
	left : 225px;
	animation : slide 4s;
}

.sidenav {
	top: 175px;
	height : 435px;
	width : 100px;
	position : fixed;
	right: 0px;
	background-color : #111;
	overflow-x : hidden;
	background-color : rgba(255,255,255,0.5);
}

/*
* 첫 페이지 두 번째 메인 배경
*/



#section2 {
	height : 100vh;
	background-size:contain;
	background : url("/aruaru/images/restaurant_2.jpg") fixed;
}


#container2 {
	height : 150px;
	width : 1200px;
	height : 115px;
	margin-left : 125px;
	background-color : rgba(255,255,255,0.5);
	animation : slide2 1s;
}

#container1 {
	top : 400px;
}

#container3 {
	height : 50px;
}

#container4 {
	height : 50px;
}

#carousel-next-icon {
	top : 500px;
}
#carousel-prev-icon {
	top : 500px;
}

#carousel-indicators {
	position : absolute;
	top : 500px;
}

/*
* 첫 페이지 세 번째 화면 메인 배경
*/
#section3 {
	height : 100vh;
	background-size:contain;
	background : url("/aruaru/images/restaurant_4.jpg") fixed;
}


/*
* 서비스 소개 화면 왼쪽 R
*/
#r1 {
	position:absolute;
	padding-top : 85px;
	padding-left : 750px;
}

/*
* 서비스 소개 화면 오른쪽 R
*/

#r2 {
	position:absolute;
	padding-top : 285px;
	padding-left:840px;
}


#profile {
	position : absolute;
	top : 1700px;
	left : 300px; 
	animation : slide_profile 3s;
}

footer {
	height : 225px;
}







#demo {
	width : 1200px;
	right:75px;
	animation : slide2 1s;
}









.sidenav a {
	
	color : #818181;
	display : block;
}

.sidenav a:hover {
	color:#f1f1f1;
}





@keyframes slide {
	from {
		left:-100px;
		opacity : 0;
	}
	to {
		left:225px;
		opacity : 1;
	}
}

@keyframes disappear {
	from {
		left:225px;
				opacity : 1;
	}
	to {
		left:-100px;
		opacity : 0;
	}
}

@keyframes slide2 {
	from {
		top:-100px;
		opacity : 0;
	}
	to {
		top: 0px;
		opacity : 1;
	}
}

@keyframes disappear2 {
	from {
		top: 0px;
		opacity : 1;
	}
	to {
		top:-100px;
		opacity : 0;
	}
}

@keyframes slide_profile {
	from {
		left:-100px;
		opacity : 0;
	}
	to {
		left:300px;
		opacity : 1;
	}
}


@keyframes disappear_profile {
	from {
		left:300px;
		opacity : 1;

	}
	to {
		left:-100px;
		opacity : 0;
	}
}