@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    /*
    * 네비게이션 바 높이 조정
    */

    #navbar {
        height : 4.1vh;
    }
    
    /*
    * 알파벳 CI 크기 및 위치 조정
    */

    #RR {
        position :relative;
        width : 2.5vw;
        top : 1.3vh;
        left :	14.5vw;
    }

    /*
    * 일본어 CI 크기 및 위치 조정
    */

    #aruaru {
        position : relative;
        height : 3vw;
        top : 1.3vh;
        left : 14.4vw;
    }

    /*
    * 지역 검색 창 위치 조정
    */
    #area-input {
        position : absolute;
        top : 6.3vh;
        left : 26.9vw;
        width : 13vw;
    }
    /*
    * 검색창 키워드 인풋 위치 및 크기 조정
    */
    #keyword-input {
        position : absolute;
        top : 6.3vh;
        left : 40.1vw;
        width : 16.4vw;
    }
    /*
    * 날짜 설정 인풋 위치 및 크기 조정
    */
    #day-input {
        position : absolute;
        top : 6.3vh;
        left : 56.7vw;
        width : 9.8vw; /*150px;*/
    }
    /*
    * 시간 설정 인풋 위치 및 크기 조정
    */
    #select-time {
        position :absolute;
        top:6.3vh;
        left:66.7vw;
        width : 6.5vw;
    }
    /*
    * 인원수 인풋 위치 및 크기 조정
    */
    #person-input {
        position: absolute;
        top:6.3vh;
        left:73.4vw;
        width: 6.5vw;
    }
    /*
    * 검색버튼 위치 조정
    */
    #search-submit {
    	position : absolute;
    	top : 6.3vh;
    	left : 80.2vw;
    }
    
    /*
    * 캐러샐(회전화면) 위치 및 크기 조정
    */
    #carousel-inner {
        width: 91vw;
        padding-left : 8.5vw;
        top : 5.5vh;
    }
    /*
    * 캐러샐 인디케이터(밑에 누르면 화면 바뀌는 부분) 위치 조정
    */
    .carousel-indicators
    {
    	top: 65vh;
   	}
   	/*
    * 캐러셀 첫번째 자막 글씨체 설정 및 위치 조정
    */
   	#c-caption1 {
   		font-family : Jua;
   		left : 5.5vh;
   	}
   	
   	#menu-introduce {
   		font-family : Jua;
   		position: relative;
   		padding-left : 6vw;
   		top: 11vh;
   	}
   	
   	/*
    * 그림 첫째줄 위치 설정
    */
   	#tags1 {
   		position : relative;
   		top : 11vh;
   		width : 1400px;
   		margin : 0 auto;
   		padding-left : 4vw;
   	}
   	/*
    * 첫째줄 첫번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags1 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 첫째줄 두번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags2 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 첫째줄 세번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags3 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 첫째줄 네번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags4 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 첫째줄 다섯번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags5 {
   		position : absolute;
   		top: 55px;
   		left : 20px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 첫째줄 여섯번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags6 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	
   	
   		#atmo-introduce {
   		font-family : Jua;
   		position: relative;
   		padding-left : 6vw;
   		top: 15vh;
   	}
   	
   	/*
   	* 그림 두번째 줄 위치 설정
   	*/

   	#tags2 {
   		width : 1400px;
   		position : relative;
   		padding-top : 14.6vh;
   		margin : 0 auto;
   		padding-left : 4vw;
   	}
   	
   	/*
    * 두번째줄 첫번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags7 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 두번째줄 두번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags8 {
   		position : absolute;
   		top: 55px;
   		left : 40.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 두번째줄 세번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags9 {
   		position : absolute;
   		top: 55px;
   		left : 40.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 두번째줄 네번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags10 {
   		position : absolute;
   		top: 55px;
   		left : 20px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 두번째줄 다섯번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags11 {
   		position : absolute;
   		top: 55px;
   		left : 40.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 두번째줄 여섯번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags12 {
   		position : absolute;
   		top: 55px;
   		left : 40.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
  
  	
  	#location-introduce {	
   		position: absolute;
   		padding-left : 6vw;
   		margin-top: -2.5vh;
   		font-family : Jua;
   	}
  	   	/*
   	* 그림 두번째 줄 위치 설정
   	*/

   	#tags3 {
   		position : relative;
   		width : 1400px;
   		padding-top : 2.5vh;
   		margin : 0 auto;
   		padding-left : 4vw;
   	}
   	
   	/*
    * 세번째줄 첫번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags13 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 세번째줄 두번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags14 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 세번째줄 세번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags15 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 세번째줄 네번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags16 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 세번째줄 다섯번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags17 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
   	/*
    * 세번째줄 여섯번째 태그 글씨체, 글씨색 및 위치 설정
    */
   	#caption-tags18 {
   		position : absolute;
   		top: 55px;
   		left : 47.5px;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
   	}
  
  
  
	#ranking-caption {
		font-family : Jua;
		position : relative;
		margin-top : -2vh;
		padding-left : 60px;
	}
	
	#ranking {
		position : relative;
		padding-left : 50px;
		margin : 0 auto;
	}
	
	#name-ranking1 {
		position :absolute;
		top: 27vh;
   		left : 2vw;
   		color : white;
   		font-family : Jua;
   		font-size : 28px;
	}
	#star-ranking1 {
		position : absolute;
		top:27.2vh;
		left : 6.5vw;
	}
	#rate-ranking1 {
		position : absolute;
		top:27.5vh;
		left:8vw;
		font-family : Jua;
		color : white;
	}
	#location-ranking1 {
		position : absolute;
		top: 24vh;
		left:2vw;
		font-family : Jua;
		color : white;
		font-size:18px;
	}
	#comment-ranking1 {
		position : absolute;
		top: 31.5vh;
		left:2vw;
		font-family : Jua;
		color : white;
		font-size:16px;
	}
	
	#new-restaurants-intro {
		padding-top : 4vh;
		font-family : Jua;
		position : relative;
		padding-left : 60px;
	}
	
	#new-restaurants-images {
		position : relative;
		padding-left : 50px;
		margin : 0 auto;
	}
 	
   	